* {
    margin: 0;
}

#container {
    text-align: center;
    font-family: sans-serif;
    margin-top: 80px;
}

#container h1 {
    font-size: 40px;
}

#container textarea {
    width: 80%;
    height: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 10px;
    resize: none;
    display: none;
}

/*.btn-group {
    margin-top: 15px;
}

.btn-group button {
    padding: 9px;
    border: 1px solid #aa8181;
    color: white;
    font-size: 16px;
}

.btn-group button[id="reset"] {
    background-color: #fd502b;
    cursor: pointer;
}

.btn-group button[id="download"] {
    background-color: #3f3f69;
    cursor: pointer;
}*/